<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <title th:if="${user==null || chatRoom==null}">Error!!!</title>
    <title th:if="${user!=null and chatRoom!=null}">ChatRoom</title>
    <script
      src="https://kit.fontawesome.com/17e9292b04.js"
      crossorigin="anonymous"
    ></script>
    <style>
      h1,
      h2,
      h4 {
        display: inline;
      }

      h1,
      h4 {
        color: #71b4e1;
      }
    </style>
  </head>
  <body>
    <div th:if="${user==null || chatRoom==null}">
      <h3 style="color: #ff5959">Wrong page</h3>
      <h3>!!! Set user and Channel on welcome page</h3>
      <a th:href="@{/welcome}" style="margin-right: 2em">Go to welcome page</a>
    </div>
    <div th:if="${user!=null and chatRoom!=null}">
      <div>
        <i style="color: #183e84" class="fa-solid fa-user fa-2x"></i>
        <h1>[[${user.username}]]</h1>
        <h2 style="margin-left: 2em; color: #183e84">Channel:</h2>
        <h1>[[${chatRoom.chatRoomName}]]</h1>
        <h2 style="margin-left: 2em; color: #183e84">Chat Users:</h2>
        <div id="chatRoomUsers" style="display: inline"></div>
      </div>
      <div
        style="
          border: 2px solid #ccc;
          width: 460px;
          height: 120px;
          overflow: auto;
          border-radius: 4px;
        "
      >
        <div id="chatRoomMessages"></div>
      </div>
      <form
        th:action="@{/chatroom/{room_id}/user_id/{user_id}(room_id=${chatRoom.room_id},user_id=${user.user_id})}"
        method="post"
      >
        <input type="hidden" th:field="${chatRoom.room_id}" id="room_id" />
        <input type="hidden" th:field="${user.user_id}" />
        <input type="hidden" th:field="${user.username}" id="username" />
        <input
          type="text"
          th:field="${message.stringMessage}"
          placeholder="message here"
        />
        <button type="submit" style="color: blue" id="sendButton">Send</button>
      </form>
      <div>
        <a
          th:href="@{/welcome/deactivate/{room_id}/user/{user_id}(room_id=${chatRoom.room_id},user_id=${user.user_id})}"
          style="margin-right: 2em"
          >Back</a
        >
      </div>
    </div>
    <script>
      // Function to update the chat messages via AJAX(Polling)
      function chatRoomUpdateData() {
        const roomId = document.getElementById("room_id").value;
        const username = document.getElementById("username").value;
        // Fetch the messages from the server
        fetch(`/chatroom/${roomId}/messages`)
          .then((response) => response.json())
          .then((messages) => {
            console.log("chatroom messages: ",messages); // For debugging purposes
            const userAndMessageContainer =
              document.getElementById("chatRoomMessages");
            userAndMessageContainer.innerHTML = ""; // Clear current messages
            //iteration in Messages Map
            Object.entries(messages).forEach(([messageId, messageData]) => {
              if (Array.isArray(messageData) && messageData.length >= 2) {
                var user = messageData[0];
                var text = messageData[1];
                const messageElement = document.createElement("div");
                if (user == username) {
                  messageElement.innerHTML = `<h4 style="color: #183e84">YOU:</h4> <h4 style="color: #71b4e1">${text}</h4>`;
                } else {
                  messageElement.innerHTML = `<h4>${user}:</h4> <h4 style="color: black">${text}</h4>`;
                }

                userAndMessageContainer.appendChild(messageElement);
              }
            });
          })
          .catch((error) => console.error("Error fetching messages:", error));
        // Fetch the users from the server
        fetch(`/chatroom/${roomId}/users`)
          .then((response) => response.json())
          .then((users) => {
            console.log("users in this chatroom: ",users); // For debugging purposes
            const usersContainer = document.getElementById("chatRoomUsers");
            let usersString = "|"; // Initialize an empty string
            // Concatenate each username into the string
            users.forEach((user) => {
              if (user == username) {
                user = "YOU";
              }
              usersString += user + " | ";
            });

            // Set the innerHTML of the container to the concatenated string
            usersContainer.innerHTML = `<h4>${usersString}</h4>`;
          })
          .catch((error) => console.error("Error fetching users:", error));
      }

      setInterval(chatRoomUpdateData, 3000);

      chatRoomUpdateData();
    </script>
  </body>
</html>
